<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
  <!-- Css -->
  <link rel="stylesheet" href="dist/app.css">

  <title>Nex Gen</title>

</head>
<body>

  <div id="root">
    <header>
      <!-- Top Navbar -->
      <nav v-for="(data, index) in topNavbar" class="top-navbar">
        <div class="nav-left">
          <i class="fas fa-clock"></i>
          <p>Open Hours:<span>{{ data.openingDays }}</span> - <span>{{ data.openingHours }}</span> </p>
        </div>
        <div class="nav-right">
          <div class="contact-info">
            <i class="fas fa-phone-alt"></i>
            <p>{{ data.phoneNumber }}</p>
          </div>
          <div class="contact-info">
            <i class="fas fa-envelope"></i>
            <p>{{ data.email }}</p>
          </div>
          <div class="contact-info">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
      </nav>
      <!-- /Top Navbar -->

      <!-- Hero -->
      <div class="hero">
        <!-- Bottom Navbar -->
        <div class="bottom-navbar">
          <p class="logo"><span>NEX</span>GEN</p>
          <div v-for="(item, index) in navList" class="nav-list">
            <p>{{ item.home }}</p>
            <p>{{ item.about }}</p>
            <p>{{ item.project }}</p>
            <p>{{ item.process }}</p>
            <p>{{ item.testimonials }}</p>
            <i class="far fa-user"></i>
            <button class="btn btn-full" type="button" name="button">{{ item.button }}</button>
          </div>
        </div>
        <!-- /Bottom Navbar -->

        <!-- Hero content -->
        <div class="hero-content">
          <div class="content">
            <p>HUMAN RESOURCES</p>
            <h1>Get More <span>Productivity</span></h1>
            <p class="hero-text">Planning, recruitment and selection process and performance evaluation of employees. </p>
            <div class="buttons">
              <button class="btn btn-full" type="button" name="button">GET IN TOUCH</button>
              <button class="btn btn-empty" type="button" name="button">READ MORE</button>
            </div>
          </div>
        </div>
        <!-- Hero content -->
      </div>
      <!-- /Hero -->
    </header>

    <main>
      <section class="section-1">
        <div class="boxes">
          <div class="box">
            <i class="icons far fa-user"></i>
            <h4>Human Capital</h4>
            <p>Humanazing business: Harness the power of technology to improve the way people work.</p>
          </div>
          <div class="box">
            <i class="icons fas fa-chart-pie"></i>
            <h4>Core Business</h4>
            <p>It takes innovative approaches to transform, modernize and run existing platform.</p>
          </div>
          <div class="box">
            <i class="icons far fa-clock"></i>
            <h4>Performance</h4>
            <p>Achieving maximun impact and value from investments in finance and supply chain.</p>
          </div>
        </div>
      </section>

      <section class="section-2">
        <div class="right-side">
          <div class="mini-container">
            <div class="mini-top">
              <p>ABOUT THE NETWORK</p>
              <h3><span>The</span> Company</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="mini-bottom">
              <div class="clearfix">
                <div class="column">
                  <p class="number">0</p>
                  <h4>Employees</h4>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="column">
                  <p class="number">0</p>
                  <h4>Partners</h4>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="column">
                  <p class="number">0</p>
                  <h4>Customers</h4>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
              </div>

              <div class="buttons">
                <button class="btn btn-full" type="button" name="button">GET IN TOUCH</button>
                <button class="btn btn-empty" type="button" name="button">READ MORE</button>
              </div>
            </div>
          </div>
        </div>
        <div class="left-side"></div>
      </section>
    </main>

  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
