<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
  <!-- Css -->
  <link rel="stylesheet" href="dist/app.css">

  <title>Nex Gen</title>

</head>
<body>

  <div id="root">
    <header>
      <!-- Top Navbar -->
      <nav v-for="(data, index) in topNavbar" class="top-navbar">
        <div class="nav-left">
          <i class="fas fa-clock"></i>
          <p>Open Hours:<span>{{ data.openingDays }}</span> - <span>{{ data.openingHours }}</span> </p>
        </div>
        <div class="nav-right">
          <div class="contact-info">
            <i class="fas fa-phone-alt"></i>
            <p>{{ data.phoneNumber }}</p>
          </div>
          <div class="contact-info">
            <i class="fas fa-envelope"></i>
            <p>{{ data.email }}</p>
          </div>
          <div class="contact-info">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
      </nav>
      <!-- /Top Navbar -->

      <!-- Hero -->
      <div class="hero">
        <!-- Bottom Navbar -->
        <div class="bottom-navbar">
          <p class="logo"><span>NEX</span>GEN</p>
          <div v-for="(item, index) in heroList" class="nav-list">
            <p>{{ item.home }}</p>
            <p>{{ item.about }}</p>
            <p>{{ item.project }}</p>
            <p>{{ item.process }}</p>
            <p>{{ item.testimonials }}</p>
            <i class="far fa-user"></i>
            <button class="btn btn-full" type="button" name="button">{{ item.button }}</button>
          </div>
        </div>
        <!-- /Bottom Navbar -->

        <!-- Hero content -->
        <div class="hero-content">
          <div class="content">
            <h4>HUMAN RESOURCES</h4>
            <h1>Get More <span>Productivity</span></h1>
            <p class="hero-text">Planning, recruitment and selection process and performance evaluation of employees. </p>
            <div class="buttons">
              <button class="btn btn-full" type="button" name="button">GET IN TOUCH</button>
              <button class="btn btn-empty" type="button" name="button">READ MORE</button>
            </div>
          </div>
        </div>
        <!-- Hero content -->
      </div>
      <!-- /Hero -->
    </header>

    <main>
      <section class="section-1">
        <div class="small_container">
          <div class="boxes">
            <div class="box">
              <i class="icons far fa-user"></i>
              <h5>Human Capital</h5>
              <p>Humanazing business: Harness the power of technology to improve the way people work.</p>
            </div>
            <div class="box">
              <i class="icons fas fa-chart-pie"></i>
              <h5>Core Business</h5>
              <p>It takes innovative approaches to transform, modernize and run existing platform.</p>
            </div>
            <div class="box">
              <i class="icons far fa-clock"></i>
              <h5>Performance</h5>
              <p>Achieving maximun impact and value from investments in finance and supply chain.</p>
            </div>
          </div>
        </div>
      </section>

      <section class="double-section">
        <div class="right-side">
          <div class="mini-container">
            <div class="mini-top">
              <h4>ABOUT THE NETWORK</h4>
              <h3><span>The</span> Company</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="mini-bottom">
              <div class="clearfix">
                <div class="column">
                  <p class="statistics">0</p>
                  <h5>Employees</h5>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="column">
                  <p class="statistics">0</p>
                  <h5>Partners</h5>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="column">
                  <p class="statistics">0</p>
                  <h5>Customers</h5>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
              </div>

              <div class="buttons">
                <button class="btn btn-full" type="button" name="button">GET IN TOUCH</button>
                <button class="btn btn-empty" type="button" name="button">READ MORE</button>
              </div>
            </div>
          </div>
        </div>
        <div class="left-side"></div>
      </section>

      <section class="section-3">
        <p>WE DO MORE FOR EVERYONE</p>
        <h3>Actions & <span>Projects</span> </h3>
        <ul class="nav-list">
          <li class="active">ALL</li>
          <li>INSTITUTIONAL</li>
          <li>SOCIAL</li>
          <li>EVENTS</li>
          <li>INNOVATION</li>
          <li>ENVIRONMENT</li>
          <li>TECHNOLOGY</li>
        </ul>
        <div class="grid">
          <div class="row-grid">
            <div class="feat-box">
              <img src="img/project-1.jpg" alt="">
              <div class="overlay">
                <p>Academic professional program in social media</p>
              </div>
            </div>
            <div class="feat-box">
              <img src="img/project-2.jpg" alt="">
              <div class="overlay">
                <p>President's speech at the annual meeting</p>
              </div>
            </div>
            <div class="feat-box">
              <img src="img/project-3.jpg" alt="">
              <div class="overlay">
                <p>International business trip in Shangai</p>
              </div>
            </div>
          </div>

          <div class="row-grid">
            <div class="feat-box">
              <img src="img/project-4.jpg" alt="">
              <div class="overlay">
                <p>Technology workshop with education theme</p>
              </div>
            </div>
            <div class="feat-box">
              <img src="img/project-5.jpg" alt="">
              <div class="overlay">
                <p>Donation of clothes and food to the partner NGO</p>
              </div>
            </div>
            <div class="feat-box">
              <img src="img/project-1.jpg" alt="">
              <div class="overlay">
                <p>Confraternization of the procurement team

                </p>
              </div>
            </div>
          </div>

        </div>
      </section>

      <section class="section-4">
        <h4>HOW IT WORKS IN PRACTICE</h4>
        <h3><span>Process</span>Management </h3>
        <p>We work with innovative methodologies to ensure that the entire reformatting process is done from start to finish as planned.</p>

        <div class="all-steps">
          <div class="step">
            <p class="step-num">01</p>
            <h4 class="step-text">Collection of information</h4>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
          <div class="step">
            <p class="step-num">02</p>
            <h4 class="step-text">Strategic planning</h4>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
          <div class="step">
            <p class="step-num">03</p>
            <h4 class="step-text">Assignment of responsabilities</h4>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
          <div class="step">
            <p class="step-num">04</p>
            <h4 class="step-text">Formatting process</h4>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
          <div class="step">
            <p class="step-num">05</p>
            <h4 class="step-text">Continuity formalization</h4>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
          </div>
        </div>
      </section>

      <section class="section-5">
        <div class="small_container">
          <h4>CUSTOMER TESTIMONIALS</h4>
          <h3>Trusted <span>Feedback</span> </h3>
          <p>We work intensively in search of ideals that can add up in the lives of pur customers. This is what moves us and we are grateful for the recognitions.</p>

          <div class="boxes">
            <div class="box">
              <img src="img/logo-1.png" alt="">
              <p>Humanazing business: Harness the power of technology to improve the way people work.</p>
              <i class="fas fa-quote-right"></i>
            </div>
            <div class="box">
              <img src="img/logo-2.png" alt="">
              <p>It takes innovative approaches to transform, modernize and run existing platform.</p>
              <i class="fas fa-quote-right"></i>
            </div>
            <div class="box">
              <img src="img/logo-3.png" alt="">
              <p>Achieving maximun impact and value from investments in finance and supply chain.</p>
              <i class="fas fa-quote-right"></i>
            </div>
          </div>

        </div>

      </section>

    </main>

    <footer>
      <div class="small_container">
        <div class="footer-left">
          <h4>SEND A MESSAGE</h4>
          <h3>Get in <span>Touch</span> </h3>
          <p>We will respond to your message as soon as possible.</p>
          <form class="input-form">
            <div class="row">
              <input type="text" placeholder="Name">
              <input type="text" placeholder="Email" value="">
            </div>
            <div class="row">
              <input type="text" placeholder="Phone">
              <input type="text" placeholder="More Info" value="">
            </div>
            <div class="row">
              <input type="text" placeholder="Message">
            </div>
            <button class="btn btn-full" type="button" name="button">SEND</button>
          </form>
        </div>
        <div class="footer-right">
          <h5>Example Inc.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          <div v-for="(data, index) in topNavbar" class="prova">
            <div class="footer-contact-info">
              <i class="fas fa-phone-alt"></i>
              <p>{{ data.phoneNumber}}</p>
            </div>
            <div class="footer-contact-info">
              <i class="fas fa-envelope"></i>
              <p>{{ data.email}}</p>
            </div>
            <div class="footer-contact-info">
              <i class="fas fa-map-marker-alt"></i>
              <p>{{ data.address }}</p>
            </div>
          </div>

          <button class="btn btn-empty" type="button" name="button">VIEW MAP</button>
        </div>
      </div>
    </footer>

  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
