<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous"/>
  <!-- Css -->
  <link rel="stylesheet" href="dist/app.css">

  <title>Nex Gen</title>

</head>
<body>

  <div id="root">
    <header>
      <!-- Top Navbar -->
      <nav v-for="(data, index) in companyInfo" class="top-navbar">
        <div class="nav-left">
          <i class="fas fa-clock"></i>
          <p>Open Hours: <span>{{ data.openingDays }}</span> - <span>{{ data.openingHours }}</span> </p>
        </div>
        <div class="nav-right">
          <div class="contact-info">
            <i class="fas fa-phone-alt"></i>
            <p>{{ data.phoneNumber }}</p>
          </div>
          <div class="contact-info">
            <i class="fas fa-envelope"></i>
            <p>{{ data.email }}</p>
          </div>
          <div class="contact-info">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
      </nav>
      <!-- /Top Navbar -->

      <!-- Hero -->
      <div class="hero">
        <!-- Bottom Navbar -->
        <div class="bottom-navbar">
          <p class="logo"><span>NEX</span>GEN</p>
          <div class="nav-list">
            <a v-for="item in heroList" :href="item.url" target="_blank">{{ item.title }}</a>
            <i class="far fa-user"></i>
            <button class="btn btn-full" type="button" name="button">GET IN TOUCH</button>
          </div>
        </div>
        <!-- /Bottom Navbar -->

        <!-- Hero content -->
        <div class="hero-content">
          <div class="content">
            <h4>HUMAN RESOURCES</h4>
            <h1>Get More Productivity</h1>
            <p class="hero-text">Planning, recruitment and selection process and performance evaluation of employees. </p>
            <div class="buttons">
              <button class="btn btn-full" type="button" name="button">GET IN TOUCH</button>
              <button class="btn btn-empty" type="button" name="button">READ MORE</button>
            </div>
          </div>
        </div>
        <!-- Hero content -->
      </div>
      <!-- /Hero -->
    </header>

    <main>

      <!-- Section 1 -->
      <section class="section-1">
        <div class="small_container">
          <div class="boxes">
            <div v-for="box in boxTop" class="box">
              <i class="icons" :class="box.icon"></i>
              <h5>{{ box.title }}</h5>
              <p>{{ box.paragrap }}</p>
            </div>
          </div>
        </div>
      </section>
      <!-- /Section 1 -->

      <!-- Section 2 (double section) -->
      <section class="clearfix double-section">

        <div class="right-side">
          <div class="mini-container">
            <div class="mini-top">
              <h4>ABOUT THE NETWORK</h4>
              <h3><span>The</span> Company</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="mini-bottom">
              <div class="clearfix">
                <div class="column">
                  <p class="statistics">0</p>
                  <h5>Employees</h5>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="column">
                  <p class="statistics">0</p>
                  <h5>Partners</h5>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
                <div class="column">
                  <p class="statistics">0</p>
                  <h5>Customers</h5>
                  <p>Lorem ipsum dolor sit amet.</p>
                </div>
              </div>

              <div class="buttons">
                <button class="btn btn-full" type="button" name="button">GET IN TOUCH</button>
                <button class="btn btn-empty" type="button" name="button">READ MORE</button>
              </div>
            </div>
          </div>
        </div>
        <div class="left-side"></div>
      </section>
      <!-- /Section 2 (double section) -->

      <!-- Section 3 -->
      <section class="section-3">
        <p>WE DO MORE FOR EVERYONE</p>
        <h3>Actions & <span>Projects</span> </h3>
        <ul class="nav-list">
          <li class="active">ALL</li>
          <li>INSTITUTIONAL</li>
          <li>SOCIAL</li>
          <li>EVENTS</li>
          <li>INNOVATION</li>
          <li>ENVIRONMENT</li>
          <li>TECHNOLOGY</li>
        </ul>
        <div class="grid">
          <div class="row-grid">
            <div v-for="item in gridImages[indiceAttivo].topRow" class="feat-box">
              <img :src="item.img" alt="">
              <div class="overlay">
                <p>{{item.paragraph}}</p>
              </div>
            </div>
          </div>

          <div class="row-grid">
            <div v-for="item in gridImages[indiceAttivo].bottomRow" class="feat-box">
              <img :src="item.img" alt="">
              <div class="overlay">
                <p>{{item.paragraph}}</p>
              </div>
            </div>
          </div> 

        </div>
      </section>
      <!-- /Section 3 -->

      <!-- Section 4 -->
      <section class="section-4">
        <h4>HOW IT WORKS IN PRACTICE</h4>
        <h3><span>Process</span>Management </h3>
        <p>We work with innovative methodologies to ensure that the entire reformatting process is done from start to finish as planned.</p>

        <div class="all-steps">
          <div v-for="(step, index) in timeline" class="step">
            <p class="step-num">{{ step.number }}</p>
            <h4 class="step-text">{{ step.title }}</h4>
            <p>{{ step.paragraph }}.</p>
          </div>
        </div>
      </section>
      <!-- /Section 4 -->

      <!-- Section 5 -->
      <section class="section-5">
        <div class="small_container">
          <h4>CUSTOMER TESTIMONIALS</h4>
          <h3>Trusted <span>Feedback</span> </h3>
          <p>We work intensively in search of ideals that can add up in the lives of pur customers. This is what moves us and we are grateful for the recognitions.</p>

          <div class="boxes">
            <div v-for="box in boxBottom" class="box">
              <img :src="box.img" alt="">
              <p>{{box.paragraph}}</p>
              <i :class="box.icon"></i>
            </div>
          </div>
        </div>
      </section>
      <!-- /Section 5 -->

    </main>


    <footer>
      <div class="small_container">

        <!-- Footer Left -->
        <div class="footer-left">
          <h4>SEND A MESSAGE</h4>
          <h3>Get in <span>Touch</span> </h3>
          <p>We will respond to your message as soon as possible.</p>
          <form class="input-form">
            <div class="row">
              <input type="text" placeholder="Name">
              <input type="text" placeholder="Email" value="">
            </div>
            <div class="row">
              <input type="text" placeholder="Phone">
              <input type="text" placeholder="More Info" value="">
            </div>
            <div class="row">
              <input type="text" placeholder="Message">
            </div>
            <button class="btn btn-full" type="button" name="button">SEND</button>
          </form>
        </div>
        <!-- /Footer Left -->

        <!-- Footer Right -->
        <div class="footer-right">
          <h5>Example Inc.</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
          <div v-for="(data, index) in companyInfo" class="prova">
            <div class="footer-contact-info">
              <i class="fas fa-phone-alt"></i>
              <p>{{ data.phoneNumber}}</p>
            </div>
            <div class="footer-contact-info">
              <i class="fas fa-envelope"></i>
              <p>{{ data.email}}</p>
            </div>
            <div class="footer-contact-info">
              <i class="fas fa-map-marker-alt"></i>
              <p>{{ data.address }}</p>
            </div>
            <a class="btn btn-empty" :href="data.googleMap" target="_blank">VIEW MAP</a>
          </div>
        </div>
        <!-- Footer Right -->

      </div>
    </footer>

  </div>

  <script src="js/script.js" charset="utf-8"></script>
</body>
</html>
