.buttons{
  margin-top: 30px;
}

.btn{
  padding: $btn_padding;
  color: $main_color_white;
  border-radius: $btn_border_radius;
  margin-right: 15px;

  &.btn-full{
    background-color: #1a948f;
    border: $btn_border_full;
  }

  &.btn-empty{
    background-color: $btn_transparent;
    border: 1px solid $main_color_green;
  }

}
