.buttons{
  margin-top: 30px;
}

.btn{
  @include btn;

  &.btn-full{
    background-color: $main_color_green;
    border: $btn_border_full;
  }

  &.btn-empty{
    background-color: $btn_transparent;
    border: 1px solid $main_color_green;
  }

  &:focus{
    outline: none;
  }

}
