*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

li.active{
  background-color: $dark_green;
  padding: 3px 10px;
  border-radius: $btn_border_radius;
}

.small_container{
  max-width: $small_container;
  margin: auto;
}

.boxes{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;

  .box{
    width: 300px;
    background-color: $main_color_white;
    border-radius: $box_border_radius;
    padding: 30px;

    .icons{
      color: $main_color_green;
      background-color: $light_color_green;
      font-size: 20px;
      border-radius: 50%;
      padding: 15px;
    }

    & img{
      width: 50%;
      margin-bottom: 30px;
    }

    h5{
      padding: 15px 0px;
    }

    p{
      color: $strong_color_grey;
      font-weight: $font_light;
      text-align: left;
    }

    .fa-quote-right{
      float: right;
      color: $main_color_grey;
      padding-top: 10px;
    }
  }
}

section{
  padding: $section_padding;
}

.section-5, .section-1{
  background-color: $light_green_background;

  h3, p{
    text-align: center;
  }
}
