*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.active{
  background-color: $dark_green;
  padding: 3px 10px;
  border-radius: $btn_border_radius
}
