footer{
  background-color: $black_color;
  padding: 50px 0px;

  .small_container{
    display: flex;

    .footer-left{
      width: 70%;
      margin-right: 40px;

      h4{
        color: $main_color_green;
      }

      h3{
        color: $main_color_white;

        & span{
          background-color: $dark_green;
        }
      }

      .row{
        display: flex;
        margin-bottom: 10px;

        input{
          width: 100%;
          background-color: $dark_grey;
          padding: 8px;
          border: 0px;
          border-radius: $btn_border_radius;
          color: $strong_color_grey;

          &:focus{
            outline: none;
          }
        }

        input:nth-child(2n){
          margin-left: 10px;
        }
      }

      .row:last-of-type input{
        padding-bottom: 80px;
      }
    }

    .footer-right{
      h5{
        color: $main_color_white;
        font-weight: bold;
      }
      p{
        color: $main_color_grey;
        margin-top: 10px;
        font-size: $font_small;
      }

      .footer-contact-info{
        @include centered;
        margin: 20px 0px;
        color: $main_color_green;

        p{
          margin-top: 0px;
          color: $main_color_green;
          margin-left: 15px;
        }

        .fas{
          background-color: $dark_green;
          padding: 10px;
          border-radius: 50%;
        }
      }
    }
  }
}
