@mixin centered {
  display: flex;
  align-items: center;
}

@mixin pos-absolute ($top, $right, $bottom, $left){
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

.hero{
  height: 650px;
  background-image: url('../img/bg-4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(201, 76, 76, 0.3);


  .bottom-navbar{
    @include centered;
    max-width: $small_container;
    margin: auto;
    color: $main_color_white;
    justify-content: space-between;
    padding-top: 25px;

    .logo{
      font-weight: 500;
      color: $main_color_grey;

      & span{
        background-color: rgba(54, 133, 214, 0.3);
        color: $main_color_green;
        padding: 7px 3px 7px 20px;
        border-radius: 15px 0px 0px 15px;
        margin-right: 3px;
      }
    }

    .nav-list{
      display: flex;
      align-items: center;

      a{
        color: $main_color_white;
        text-decoration: none;
      }

      a, i{
        padding-right: 20px;
      }
    }
  }

  .hero-content{
    max-width: $small_container;
    margin: auto;
    margin-top: 85px;

    .content{
      width: 40%;
      position: relative;

      &::before{
        content: "";
        display: block;
        width: 84%;
        height: 24px;
        background-image: url('../img/sfondo.png');
        @include pos-absolute(auto, auto, 120px, auto);
        border-radius: 5px;
      }

      h4{
        color: $main_color_green;
      }

      p{
        color: $main_color_green;
      }

      h1{
        font-family: 'Dela Gothic One', cursive;
        font-size: $font_big;
        color: $main_color_white;
        position: relative;
      }


      .hero-text{
        margin-top: 15px;
        color: $main_color_grey;
        word-spacing: 1.5px;
        letter-spacing: 0.8px;
      }
    }
  }
}
