.section-2 {
  display: flex;
  margin-left: 120px;

  .right-side{
    width: $half_container;

    .mini-container{
      width: 70%;
      float: right;
      padding: 45px 20px 45px 0px;

      .mini-top{
        margin-bottom: 60px;

        p:first-of-type{
          font-size: $font_small;
          color: $main_color_green;
          margin-bottom: 10px;
        }

        h3{
          font-weight: 800;
          font-size: $font_medium;
          margin: 25px 0px;

          span{
            color: $strong_color_green;
            background-color: $light_color_green;
            padding: 3px 10px;
            border-radius: $btn_border_radius;
          }
        }
        p{
          color: $strong_color_grey;
          font-weight: 100;
        }
      }
      .mini-bottom{
        .column{
          float: left;
          width: calc(100% / 3);
          padding-right: 10px;

          .number{
            color: $main_color_green;
            font-size: $font_medium;
            font-weight: 800;
            margin-left: 10px;
          }
          p{
            font-weight: 100;
            font-size: $font_small;
          }

          h4{
            padding: 15px 0px;
            letter-spacing: 1px;
          }
        }

        .column:last-of-type{
          padding-right: 0px;
        }

        .btn-empty{
          color: $main_color_green;
        }
      }
    }
  }

  .left-side{
    width: $half_container;
    background-image: url('../img/about-5.jpg');
    background-size: cover;
    background-position: center;
  }
}
