.double-section {
  display: flex;
  justify-content: flex-end;
  padding: 0;

  .right-side{
    width: 512px;

    .mini-container{
      float: right;
      padding: 45px 20px 45px 0px;

        h4{
          text-align: left;
        }

        h3{
          color: black;

          & span{
            color: $strong_color_green;
          }
        }

        p{
          font-weight: 100;
        }

      .mini-bottom{
        .column{
          float: left;
          width: calc(100% / 3);
          padding-right: 10px;

          .statistics{
            color: $main_color_green;
            font-size: $font_medium;
            font-weight: $font_strong;
            margin-left: 10px;
          }

          h5{
            padding-bottom: 15px;
            letter-spacing: 1px;
          }
        }

        .column:last-of-type{
          padding-right: 0px;
        }

        .btn-empty{
          color: $main_color_green;
        }
      }
    }
  }

  .left-side{
    width: $half_container;
    background-image: url('../img/about-5.jpg');
    background-size: cover;
    background-position: center;
  }
}
