.section-3{
  background-color: $black_color;

  p{
    color: $main_color_green;
    text-align: center;
    margin-bottom: 20px;
  }
  h3{
    font-family: 'Dela Gothic One', cursive;
    color: $main_color_white;
    text-align: center;

    span{
      background-color: $dark_green;
    }
  }
  .nav-list {
    text-align: center;
    margin: 50px 0px;

    & li{
      color: $main_color_grey;
      display: inline;
      list-style: none;
      text-align: center;
      padding: 8px;
    }
  }

  .grid{
    max-width: $small_container;
    margin: auto;
    margin-bottom: 40px;

    .row-grid{
      display: flex;
      justify-content: space-between;
      margin-top: 50px;
    }

    .feat-box{
      width: 300px;
      background-size: contain;
      border-radius: $box_border_radius;
      display: flex;
      align-items: flex-end;
      position: relative;

      img{
          width: 100%;
          border-radius: $box_border_radius;
          filter: brightness(0.8);
        }

        .overlay{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;

          p{
            position: absolute;
            bottom: 0;
          }
        }

      & p{
        font-family: 'Dela Gothic One', cursive;
        color: $main_color_white;
        padding: 10px;
      }
    }
  }
}
