.section-4{
  position: relative;

  h3, p{
    text-align: center;
  }

  .all-steps{
    display: flex;
    justify-content: space-evenly;
    margin: 18px 0px;

    &::before{
      content: "";
      display: block;
      width: 100%;
      height: 5px;
      background-color: $light_color_green;
      @include pos-absolute(208px, auto, auto, auto);
    }

    .step{
      position: relative;
      width: 200px;

      .step-num{
        @include pos-absolute(auto, auto, auto, 80px);
        background-color: $light_color_green;
        border-radius: 50%;
        padding: 10px;
        color: $main_color_green;
        font-weight: $font_strong;

      }

      .step-text{
        margin-top: 70px;
        color: black;
        margin-bottom: 15px;
      }
    }
  }
}
