// Container
$small_container: 950px;

// Colors
$main_color_white: #ffff;
$main_color_green: #1a948f;

// Font Size
$font_small: 14px;

// Buttons
$btn_padding: 8px 15px;
$btn_border_empty: 1px solid #fff;
$btn_border_full: 1px solid #1a948f;
$btn_border_radius: 3px;
