// Container
$small_container: 800px;

// Colors
$main_color_grey: #babdbe;
$strong_color_grey: #505051;
$main_color_white: #ffff;
$main_color_green: #1a948f;
$strong_color_green: #097a7c;
$section_1_bcknd_color: #EEF4ED;
$icons_color: #097a7c;
$icon_bcknd_color: #DAECED;

// Font Size
$font_small: 14px;
$font_big: 46px;

// Buttons
$btn_padding: 8px 15px;
$btn_border_empty: 1px solid #fff;
$btn_border_full: 1px solid #1a948f;
$btn_border_radius: 3px;
$btn_transparent: transparent;

//Section 1
$box_border_radius: 10px;
